@model List<data_access.Entities.Subject>

<div class="text-center m-5">
	<h1 class="display-4">Additional Subjects</h1>
</div>

<div>
	@if(Model.Any())
	{
		<ol class="list-group list-group-numbered m-4">
			@foreach(var sub in Model)
			{
           
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
						<div class="fw-bold">@sub.Name</div>
						ECTS: @sub.Ects
						<a asp-controller="Subjects"
						   asp-action="AddOptionalSubject"
						   asp-route-subjectId="@sub.Id"
						   asp-route-returnUrl="@Context.Request.Path"
						   class="btn btn-light">
							Add Subject <i class="bi bi-plus-circle m-lg-auto"></i>
						</a>

					</div>
				</li>
            
			}
		</ol>
		
	}
	else
	{
		<p>There aren't any additional subjects!</p>
	}
	<a asp-controller="Students"
	   asp-action="MyProfile"
	   class="btn btn-outline-secondary">
		Back
	</a>
</div>


