@model data_access.Entities.FieldOfStudy;

@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center m-5">
    <h1 class="display-4">@Model.Name</h1>
</div>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget dolor ipsum. Praesent dignissim eros dolor. Morbi pellentesque elit in mauris posuere malesuada. Morbi lacinia sapien ut leo aliquet euismod. Quisque ultrices efficitur scelerisque. Sed ut pellentesque libero. Sed venenatis justo rhoncus pretium fermentum. Proin posuere, purus in interdum blandit, enim tellus sodales ante, vulputate lobortis libero tortor eu enim. Etiam rutrum, arcu a pretium pellentesque, sapien tortor pharetra purus, a fringilla nulla nunc nec felis. Praesent odio nunc, aliquam at pharetra ac, porttitor at nunc. Suspendisse et viverra quam.

        Nulla pretium, enim non sagittis egestas, lacus risus feugiat felis, sit amet tristique diam neque eget nisl. Praesent ut odio nec dolor semper scelerisque. Nulla euismod id libero quis luctus. Mauris pellentesque libero ac quam tempus consequat. Praesent aliquam purus mauris, non sollicitudin nibh interdum ac. Curabitur maximus lacinia risus nec faucibus. Vestibulum eros ex, lobortis laoreet blandit ac, fringilla in lectus. Nunc sed magna placerat, bibendum ex vel, tincidunt ipsum. In lobortis odio neque, sed imperdiet nunc venenatis non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

        Quisque tristique nunc mauris, eu iaculis ex consequat vitae. Curabitur a metus tortor. Vestibulum felis purus, malesuada eu ornare eget, molestie sit amet leo. Suspendisse sit amet erat et nibh placerat commodo. Cras rutrum est ante, ac iaculis purus pharetra mollis. Vivamus pharetra, orci in viverra pulvinar, quam libero mattis est, sit amet ultricies mi nisi ac ipsum. Nam neque arcu, eleifend vitae euismod id, vehicula et enim. Phasellus nec purus id odio mattis interdum nec at nisi. Fusce blandit mollis justo, sed facilisis purus tincidunt id. Integer consectetur eros sed ultricies posuere. Integer at sollicitudin ex. Integer efficitur tellus sed leo pretium, id fringilla justo suscipit. Pellentesque consequat euismod massa nec placerat.
    </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="@ViewBag.ReturnUrl" class="btn btn-outline-secondary">Back</a>

    </div>
</div>


