@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/st.png" class="st-img" alt="Student">
</div>

<div class="text-center m-5">
    <h1 class="display-4">Welcome to Student Management System</h1>
</div>

<div class="text-center">
    <p class="fw-lighter">
        Our Student Management System (SMS) is designed to streamline and enhance the administration of student data, 
        making it easier for institutions to track academic performance, manage student records, and communicate efficiently. 
        With a user-friendly interface and powerful tools, educators and administrators can manage class schedules, monitor student
        progress, and ensure a smooth educational experience.

        Whether you're a teacher looking to organize your classroom, an administrator managing large student bodies, or a student 
        accessing your personal records, our system provides the tools you need to succeed. Explore our features and see how our 
        platform can simplify the management of educational data, making it accessible, accurate, and efficient.
    </p>
</div>
