
@{
    ViewData["Title"] = "Groups";
}

@model List<data_access.Entities.FieldOfStudy>;

<h1 m-5>Choose your group</h1>

@if (Model.Any())
{
    <p class="fw-normal m-3">@Model.Count groups exists.</p>

    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4 ms-3 mt-4">
        @foreach (var group in Model)
        {
            <div class="col">
                <div class="card h-100" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">@group.Name</h4>
                        <p class="card-text"> There are @group.Students.Count students in this group.</p>
                        <a asp-action="GroupDetails"  asp-route-id="@group.Id" class="btn btn-dark">Show details</a>
                    </div>
                </div>
            </div>
        }

    </div>

    <a asp-action="AddNewStudent" type="button" class="btn btn-dark m-3 p-2" >Add New Student</a>
   
}
else
{
    <p>There aren't any groups.</p>
}
